{% extends 'base.html' %}

{% block title %} | Services {% endblock %}
{% block content %}

<!-- Sub banner start -->

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Services</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services start -->
<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Our <span>Services</span></h1>
            <p>Our car rental website provides flexible booking, convenient pickup, optional add-ons, and 24/7 customer support for a hassle-free experience.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">1</div>
                    <div class="icon">
                        <i class="flaticon-support-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Free Support</h3>
                        <p>At our car rental website, enjoy the added benefit of 24/7 free customer support, ensuring a smooth and hassle-free experience from start to finish. Our dedicated team is here to assist you with any inquiries or assistance you may need along the way.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">2</div>
                    <div class="icon">
                        <i class="flaticon-speed"></i>
                    </div>
                    <div class="detail">
                        <h3>Super Fast</h3>
                        <p>Experience lightning-fast service at our car rental website, where we prioritize efficiency without compromising quality. From swift bookings to rapid vehicle pickups, we ensure your time is valued every step of the way.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">3</div>
                    <div class="icon">
                        <i class="flaticon-motor"></i>
                    </div>
                    <div class="detail">
                        <h3>Repairing</h3>
                        <p>Rest easy knowing that our car rental website offers prompt and reliable repair services, should any unexpected issues arise during your rental period. Our skilled technicians are committed to keeping you safely on the road, ensuring minimal disruptions to your journey.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">4</div>
                    <div class="icon">
                        <i class="flaticon-air-conditioner"></i>
                    </div>
                    <div class="detail">
                        <h3>AIR conditioning</h3>
                        <p>Experience comfort on the go with our fleet of vehicles equipped with premium air conditioning systems, ensuring a pleasant ride in any weather condition. Beat the heat or stay cozy during chilly days, as you explore your destination with optimal comfort and convenience.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">5</div>
                    <div class="icon">
                        <i class="flaticon-fuel"></i>
                    </div>
                    <div class="detail">
                        <h3>Oil Change</h3>
                        <p>With our car rental services, rest assured that routine maintenance like oil changes are diligently carried out, ensuring optimal performance and safety of our vehicles. We prioritize your comfort and peace of mind, so you can embark on your journey worry-free.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">7</div>
                    <div class="icon">
                        <i class="flaticon-wheel"></i>
                    </div>
                    <div class="detail">
                        <h3>Engine Repair</h3>
                        <p>Rest assured, our fleet undergoes regular maintenance, including comprehensive engine checks by certified technicians, guaranteeing reliable performance throughout your rental period. Your safety and satisfaction are our top priorities, so you can drive with confidence knowing our vehicles are in optimal condition.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">6</div>
                    <div class="icon">
                        <i class="flaticon-car-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Dealership</h3>
                        <p>Partnered with trusted dealerships, our car rental website offers a diverse fleet of well-maintained vehicles, ensuring reliability and quality with every rental. Benefit from our extensive network, providing you with access to the latest models and competitive rates for your travel needs.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">8</div>
                    <div class="icon">
                        <i class="flaticon-lock"></i>
                    </div>
                    <div class="detail">
                        <h3>Security</h3>
                        <p></p>
                    </div>
                </div>Rest assured, your safety is our top priority. Our car rental website employs robust security measures to safeguard your personal information and ensure secure transactions, providing you with peace of mind throughout your rental process.
            </div>
	
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">9</div>
                    <div class="icon">
                        <i class="flaticon-deal"></i>
                    </div>
                    <div class="detail">
                        <h3>Trusted Agents</h3>
                        <p>Rest assured with our trusted network of agents, carefully vetted to provide reliable and professional service. Partnering with reputable agents ensures peace of mind for every rental, delivering quality and satisfaction you can rely on.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->



<!-- Service center strat -->
<div class="service-center content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Our Services <span>Video</span></h3>
                    <p>Explore our comprehensive video library showcasing our range of services, from vehicle selection guides to step-by-step tutorials on booking and vehicle maintenance tips. With our informative videos, renting a car has never been easier or more convenient.</p>
                    <p class="mb-0"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service center end -->

{% endblock %}
